* {
  margin: 0;
  padding: 0; }

body {
  background-color: #21232e; }

.header {
  background: url("../img/m-h-night.jpg");
  background-size: cover;
  background-position: center;
  border: 1px solid transparent;
  border-radius: 0 0 30% 0; }
  .header .header-wrap {
    width: 80%;
    margin: 0 auto; }
    .header .header-wrap .landing-logo {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      padding-top: 12px; }
      .header .header-wrap .landing-logo p {
        padding-left: 10px;
        font-family: "Fresca", sans-serif;
        color: #1c1f30;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 0.8; }
        .header .header-wrap .landing-logo p span {
          font-size: 12px; }
    .header .header-wrap .header_heading {
      font-family: "Source Sans Pro", sans-serif;
      color: #a6aabf;
      font-weight: bold;
      font-size: 48px;
      margin: 40px 0;
      max-width: 400px;
      position: relative;
      z-index: 1; }
      .header .header-wrap .header_heading::before {
        content: '';
        background-color: #ff4e33;
        height: 16px;
        width: 225px;
        z-index: -1;
        bottom: 5px;
        position: absolute; }
    .header .header-wrap .header_text {
      font-family: "Fresca", sans-serif;
      color: #bec0c6;
      max-width: 540px;
      font-size: 16px; }
    .header .header-wrap .header_button {
      background-color: #e0a71a;
      font-family: "Source Sans Pro", sans-serif;
      color: white;
      border: none;
      font-size: 15px;
      padding: 10px 34px;
      border-radius: 2px;
      margin: 42px 0 120px 0; }
      .header .header-wrap .header_button:hover {
        color: #000000;
        background-color: #cc9510;
        border-width: 1px;
        border-color: #a5e833; }

.section {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .section .section_text {
    font-family: "Source Sans Pro", sans-serif;
    color: #a6aabf;
    font-weight: 580;
    font-size: 28px;
    margin: 20px 0;
    position: relative;
    width: 300px;
    z-index: 1; }
    .section .section_text::before {
      content: '';
      background-color: #ff4e33;
      width: 124px;
      height: 8px;
      z-index: -1;
      position: absolute;
      right: 30px;
      top: 21px; }
  .section .section_card_wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%; }
    .section .section_card_wrap .section_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #2b2e42;
      border-radius: 5px;
      width: 30%;
      padding: 15px;
      color: #ffffff; }
      .section .section_card_wrap .section_card .section_card_img {
        width: 100%; }
      .section .section_card_wrap .section_card .section_card_heading {
        font-family: "Source Sans Pro", sans-serif;
        color: #a6aabf;
        color: #ffffff;
        font-size: 21px;
        position: relative;
        z-index: 1;
        margin: 10px 0;
        display: inline-block; }
        .section .section_card_wrap .section_card .section_card_heading .section_card_underline {
          position: absolute;
          z-index: -1;
          height: 12px;
          width: 100%;
          background-color: #ff4e33;
          top: 14px; }
      .section .section_card_wrap .section_card .section_card_text {
        font-family: "Fresca", sans-serif;
        color: #bec0c6;
        text-align: center;
        padding-bottom: 10px; }

.section_banner {
  width: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background: linear-gradient(45deg, #dfa702 0%, #932d51 100%);
  margin-top: 100px;
  border-radius: 5px; }
  .section_banner .section_banner_text_wrap {
    padding: 22px 0; }
    .section_banner .section_banner_text_wrap .section_banner_heading {
      font-family: "Source Sans Pro", sans-serif;
      color: #a6aabf;
      font-size: 24px;
      font-weight: 580;
      padding-bottom: 10px;
      z-index: 1;
      position: relative; }
      .section_banner .section_banner_text_wrap .section_banner_heading::before {
        content: '';
        position: absolute;
        z-index: -1;
        height: 10px;
        width: 46px;
        top: 18px;
        left: 95px;
        background-color: #ff4e33; }
    .section_banner .section_banner_text_wrap .section_banner_text {
      font-family: "Fresca", sans-serif;
      color: #bec0c6; }
  .section_banner .section_banner_button {
    background-color: #e0a71a;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    border: none;
    font-size: 15px;
    padding: 10px 34px;
    border-radius: 2px; }
    .section_banner .section_banner_button:hover {
      color: #000000;
      background-color: #cc9510;
      border-width: 1px;
      border-color: #a5e833; }

.footer {
  background-color: #21232e;
  color: #bec0c6;
  padding: 95px 0 40px 0;
  margin-top: -60px; }
  .footer .footer-wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footer-wrap .footer_logo {
      justify-content: flex-start;
      align-items: center;
      display: flex;
      padding-top: 12px; }
      .footer .footer-wrap .footer_logo p {
        padding-left: 10px;
        font-family: "Fresca", sans-serif;
        color: #bec0c6;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 0.8; }
        .footer .footer-wrap .footer_logo p span {
          font-size: 11px; }
      .footer .footer-wrap .footer_logo .footer_text, .footer .footer-wrap .footer_logo .footer-cr {
        font-family: "Fresca", sans-serif;
        width: 25%;
        line-height: 60%;
        text-align: center;
        hyphens: auto;
        max-width: 100px; }
