$colors: (
  "bckcolor": rgb(33, 35, 46),
  "headcolor": #a6aabf,
  "bttncolor": #e0a71a,
  "bttncolor-hov": #cc9510,
  "linecol": #ff4e33 ,
  "gradient": linear-gradient(45deg, #dfa702 0%,#932d51 100%),
);

$headfont: 'Source Sans Pro', sans-serif;
$bodyfont: 'Fresca', sans-serif;
$bckimage: url('../img/m-h-night.jpg');


