$bckimage: url('../img/m-h-day.jpg');
$colors: (
  "bckcolor": #ffffff,
  "headcolor": #313442,
  "bttncolor": #669302,
  "bttncolor-hov": #abd847,
  "linecol": #20b6e5 ,
  "gradient": linear-gradient(45deg, #639216 0%,#2d5bd7 100%),
);

$headfont: 'Source Sans Pro', sans-serif;
$bodyfont: 'Hind', sans-serif;

