.flex-item tm-team-description-container flex-item



.tm-banner-text,
.tm-banner-title,
.tm-section-title {
    color: #666;
    font-weight: 300;
    margin: 0
}
li : nth-child(even) {
	text-align: left;
} 
li: nth-child(odd) {
	text-align: right;
}
