@media print {

	.tm-sidebar, #about, #contact, .tm-team-img,
	.carousel-indicators,.gallery-container, .blocks.tm-content-box, section:last-of-type {
        display: none;
    }

    .tm-banner-text {
        animation: step-end;
    }

    section::before {
        border:none;
    }
    
    .tm-main-content, .tm-banner {
        padding: 0;
        margin: 0;
    }
    
    .padding-medium, .carousel {
        padding: 0px;

    }
    .tm-banner {
        width: 100%;
        background-color: white;
    }
    
    .tm-banner-inner {
        width: 100%;

    }
    .container {
        max-width: 1080px;
        display: flex;

    }
    .tm-content-box, .blocks {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .padding-medium ol {
        padding-left: 0px;
    }

    .padding-medium  li {
        list-style-type: none;
    }

    .padding-medium li a {
        color: #000000;
        text-decoration: none;
    }
    .padding-medium  li::first-letter {
        color: lightskyblue;
        font-size: 25px;

    }

    .heading  {
        display: flex;
        justify-content: space-around;
        align-content: center;
    }

    .heading  li:nth-child(even) {
        padding-left: 250px;
    }

    .heading  li:nth-child(odd) {
        padding-right: 250px;
    }

    .heading .text::after {
        content: "";
    }

    .padding-medium h2{
    	color: lightskyblue;
    	font-size: 25px;

    }

    h2 + p {
        font-style: normal;
        line-height: inherit;
    }

    .carousel-content{
    	margin-top: 100px;
    }
        
}


@media screen {

.tm-section-title-box:hover {
    background-color:#7fb9de;
    color: white;
}

.tm-main-nav, .blocks, .tm-content-box{
 box-shadow: 3px 2px 10px 0px  rgba(61, 55, 61, 0.7);
}

.tm-banner {
    background-color: #76cdd7;
}
 
.tm-banner-inner {
    background-color: #ffffff;
}

.tm-banner-text {
    text-shadow: 0px 3px 1px #76cdd7, 0px 6px 2px #76cdd7;
    letter-spacing: 0.2em;
    word-spacing: 0.2em;
    animation: scale 3s infinite ;
}

section::before {
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0px 0px;
    border-color: #76cdd7 transparent transparent transparent;
}

.padding-medium h2 {
    text-align: center;
    color: #76cdd7;
}

.padding-medium li {
    list-style-type: lower-roman;
}

.padding-medium a {
    color: #000000;
    
}

.padding-medium .text::after {
    position: absolute;
    content: "New";
    color: red;
    font-size: smaller;
    font-variant: small-caps;
    font-weight: bold;
}

.padding-medium a:visited {
    color:#ffb347;
}

.padding-medium a:hover {
    color: #ffb347;
    font-weight: bold;
}

.padding-medium a:hover::before {
    content: '|';
    font-weight: bold;
}

.gallery-container li {
    padding: 5px;
    font-style: italic;
}

.gallery-container li:nth-of-type(even) {
    background: #ededed;
}

.gallery-container .box p::first-letter {
    font-size: 25px;
    font-style: italic;
}


.form-control {
     border-style: solid;
     border-width: 0px 0px 2px 0px;
     border-color: #6bf2ff;
}

.padding-medium h2 {
	text-align: left;
}

#contact_message{
    border-radius: 4px;
    resize: none;
    border-width: 2px 2px 2px 2px;
    border-color: #6bf2ff;
}

#contact_email {
    background: url('../img/email-icon.png') no-repeat right;
    background-size: auto 80%;
}

.form-control:focus{
	background: #58c3d8;
	color: white;
}

#contact_email:focus {
    background: url('../img/email-icon.png') no-repeat right, #58c3d8;
    background-size: auto 80%;
}

.btn {
    float: right;
    width: 170px;
    height: 55px;
    font-size: 16px;
    color: lightskyblue;
    border-color: #6bf2ff;
    border-radius: 0;
    background-color: #ffffff;
}

.btn:hover {
    background-color: skyblue;
    border-color: #6bf2ff ;
    color: #ffffff;
}

.tm-nav-item:hover {
    background: #cecece;
}

h2 + p {
    font-style: italic;
    line-height: 27px;
}

p {
    text-indent: 25px;
}

.tm-content-box.flex-2-col {
    display: flex;
    align-items: center;
}

.tm-banner-text {
    text-shadow: 0px 3px 1px #76cdd7, 0px 6px 2px #42f1f4;
    letter-spacing: 0.2em;
    word-spacing: 0.2em;
    animation: scale 3s infinite ;
    animation-iteration-count: 2;
}

@keyframes scale {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(-1);
    }

    100% {
        transform: scaleX(1);
    }
}
}

